.container{
    flex: .75;
    display: flex;
    justify-content: center;
    background: #FAFAFBFF;
    position: sticky;
    top: 0;
    left: 0px;
   
    
}
.top{
    display: flex;
    gap: 10px;
    
}
.img{
    object-fit: cover;
    border-radius: 5px;
}

.titleTop{
    font-size: 18px;
    font-weight: 700;
    color: #171A1FFF;
    
}
.category{
    font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #565E6CFF;
}
.sideBarContainer{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.sideBarMenu{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
     font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  opacity: 1; 
  gap: 10px
}
.link{

}
.item{
     display: flex; 
  align-items: center; 
  padding: 12px 10px;
  justify-content: left; 
  color: #565E6CFF; 
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 4px; 
  gap: 8px; 
  cursor: pointer; 
}
.item:hover{
    background-color: #4B7BECFF;
    color: #e9e6e6;
    font-weight: 900;
}

.bottom{
    
    background-color: red;
    padding: 10px;
}